@import '@sweetalert2/theme-dark/dark.css';

*{
  font-size: 20px;
  color:white;
  font-family: verdana;
}


.form-option{
  padding:8px;
}


.submit-btn{
  padding: 10px;
}
.submitbutton{
  width:100%;
  background-color: black;
  border: 2px solid white;
  width: 80%;
  display: flex;
  justify-content: center;
  transition: 0.3s all ease-in-out;
  border-radius: 10px;
  height:40px;
  align-items: center;
}
.submitbutton:hover{
  background-color: white;
  color:black;
  cursor: pointer;
}
button{
  transition: 0.3s all ease-in-out;

}
button:hover{
  background-color: white;
}
.mantine-Select-label{
  color:white;
}
.mantine-Select-input{
  background-color: black;
  color:white
}
.mantine-Select-dropdown{
  background-color: white;
}


.mantine-Select-options{
  background-color: black;
}

.mantine-Select-dropdown{
  background-color: white;
}
